@font-face {
    font-family: "SwearTextMedium";
    src: url("./fonts/SwearTextMedium.otf") format("opentype");
    font-weight: 100 1000;
    font-style: normal;
  }

  @font-face {
    font-family: "RobotoFlex";
    src: url("./fonts/RobotFlex.ttf") format("truetype");
    font-weight: 100 1000;
    font-style: normal;
  }

/*Style til desktop*/
@media screen and (min-width:501px) {
    .font1 {
        font-family: "RobotoFlex";
        color: white;
        font-size: 128px;
        font-weight: 400;
      }
      
      .font2 {
        font-family: "SwearTextMedium";
        color:white;
        font-size: 128px;
      } 
}
